*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;

}
.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eff4fd;
   
    
}
#s{
    height: 80px;
    width: 80px;
}
nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: sp;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}
nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    padding: 10px 25px;
}

nav ul li a:hover{
    color: rgb(134, 160, 4);
}
.detel{
    margin-left: 8%;
    margin-top: 13%;
margin-top: 10px;
}
.detel h1{
    font-size: 50px ;
    color: #212121;
    margin-bottom: 20px;
}
span{
    color: orange;
}

.detel p{
    color: #555;
    line-height: 22px;

}

.detel a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
    margin-top: 10px;
}
.detel a:hover{
    color: rgb(251, 192, 0);
    background: #555;
}

.images{
    width: 46%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
  margin-block-end: -180px;
}



.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;


}

.images:hover .shape{
    bottom: 40px;

}

.images:hover .girl{
    left: 45%;
}

nav{
    background:rgb(255, 255, 255);

}
body{
    background: #eff4fd;
    
}